.tour-list-task-bar {
    padding: 0.2rem;
    display: flex;
}

.tour-list-task-bar button {
    gap: 0.5rem;
    background-color: var(--button);
}

.tour-list-list {
    background-color: var(--panel2);
    padding: 0.5rem;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 500px;

}

.tour-list-entry-container {
    overflow-y: auto;
}

