<h3>Add new tour</h3>


<div class="tour-creation-panel">
    <div class="input-details">
        <p>Tour Details</p>
        <input type="text" placeholder="Title" (input)="setTitle($event.target.value)" />
        <input type="text" placeholder="Description" (input)="setDescription($event.target.value)" />

        <input type="text" placeholder="From" (input)="setFrom($event.target.value)" />
        @if (!isFromValid && newTour.from != ''){<div class="error">Invalid Location!</div>}
        <input type="text" placeholder="To" (input)="setTo($event.target.value)" />
        @if (!isToValid && newTour.to != ''){<div class="error">Invalid Location!</div>}

        <input type="text" placeholder="Transport Type" (input)="setTransportType($event.target.value)" />
    </div>

    <div class="route-calculations">
        <p>Length</p>
        <p>Time</p>
    </div>

    <img class="tour-map" src="assets/img/a.png" alt="Map placeholder">

    <div class="tour-creation-buttons">
        <button (click)="CreateTour()">Create Tour</button>
        <button (click)="Cancel()">cancel</button>
    </div>

</div>