<h3>Add new tour</h3>


<div class="tour-creation-panel">
    <div class="input-details">
        <p>Tour Details</p>
        <input type="text" placeholder="Title" (input)="setTitle($event.target.value)" />
        <input type="text" placeholder="Description" (input)="setDescription($event.target.value)" />

        <input type="text" placeholder="From" (input)="setFrom($event.target.value)" />
        @if (!isFromValid && newTour.from != ''){<div class="error">Invalid Location!</div>}
        <input type="text" placeholder="To" (input)="setTo($event.target.value)" />
        @if (!isToValid && newTour.to != ''){<div class="error">Invalid Location!</div>}

        <select #transportSelect (change)="setTransportType(transportSelect.value)">
            <option value="" disabled selected>Transport Type</option>
            <option value="Car">Car</option>
            <option value="Bike">Bike</option>
            <option value="Hike">Hike</option>
        </select>

        @if (validationMessage) {
        <div class="error">{{ validationMessage }}</div>
        }
    </div>

    <div class="map-and-buttons">
        <div class="tour-creation-buttons">
            <button (click)="CreateTour()">Create Tour</button>
            <button (click)="Cancel()">cancel</button>
        </div>
        <div id="map"></div>
    </div>

</div>