<h3>Edit tour</h3>

@if (tour) {
<div class="tour-edit-container">
  <div class="tour-edit-panel">
    <div class="input-details">
      <p>Tour Details</p>

      <input type="text" placeholder="Title" [value]="editableTour.title"
        (input)="setTitle($any($event.target).value)" />

      <input type="text" placeholder="Description" [value]="editableTour.description"
        (input)="setDescription($any($event.target).value)" />

      <input type="text" placeholder="From" [value]="editableTour.from" (input)="setFrom($any($event.target).value)" />
      @if (isToValid){<div class="information">[{{start?.lat!.toFixed(2)}},{{start?.lon!.toFixed(2)}}]</div>}


      <input type="text" placeholder="To" [value]="editableTour.to" (input)="setTo($any($event.target).value)" />
      @if (isToValid){<div class="information">[{{dest?.lat!.toFixed(2)}},{{dest?.lon!.toFixed(2)}}]</div>}

      <select #editTransportSelect [value]="editableTour.transportType"
        (change)="setTransportType(editTransportSelect.value)">
        <option value="" disabled>Transport Type</option>
        <option value="Car">Car</option>
        <option value="Bike">Bike</option>
        <option value="Hike">Hike</option>
      </select>

      <div class="generate-route">
        <button (click)="setPoints()">Generate Route</button>
      </div>

      @if (validationMessage) {
      <div class="error">{{ validationMessage }}</div>
      }
    </div>

    <div class="route-calculations">
      <p>Length: {{editableTour.route?.distKm?.toFixed(2)}} km</p>
      <p>Time: {{editableTour.route?.timeMin?.toFixed(2)}} min</p>
    </div>

    <div class="map-and-buttons">
      <div class="tour-edit-buttons">
        <button type="button" (click)="saveTour()">Save Changes</button>
        <button type="button" (click)="cancel.emit()">Cancel</button>
      </div>
      <app-tour-map-component [tour]="editableTour"></app-tour-map-component>
    </div>




  </div>
</div>
} @else {
<p>Loading tour...</p>
}