.log-list-container {
    background-color: var(--panel2);
    padding: 0.5rem;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.log-list-list {
    background-color: var(--panel2);
    padding: 0.5rem;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.log-list-item {
    padding: 0.5rem;
    background: var(--panel);
    border: 1px solid var(--border);
    border-radius: 8px;
}